.introduction {
  display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  align-self: center;
  padding-top: 20rem;
  margin-bottom: 6rem;
}

.title {
  font-family: 'General Sans';
  font-style: normal;

  color: #0f609b;

  font-weight: 600;
  font-size: 4.8rem;
  line-height: 6.5rem;
  padding: 10rem 0 4rem;
}

.inter {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.3rem;
  text-align: center;
  padding: 3rem 0;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5.6rem;
  //   margin-right: 15rem;
  padding-bottom: 3rem;

  position: relative;
  .img1 {
    position: absolute;

    top: 3rem;
    right: 0;
    transform: translateY(-50%);
    width: 45rem;

    img {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
  .img2 {
    position: absolute;

    top: 2rem;
    right: -7rem;
    transform: translateY(-50%);
    width: 45rem;

    img {
      width: 100%;
    }

    @media screen and (max-width: 768px) {
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
    }
  }

  &.four {
    // background-color: #bcccdc;

    .card:last-child {
      grid-column: unset;

      @media screen and (max-width: 768px) {
        grid-column: 1/ -1;
      }
    }
  }
}

.card {
  //   height: 8rem;
  background-color: white;
  position: relative;
  z-index: 1000;
  border: 1px solid #bcccdc;
  border-radius: 24px;
  padding: 3.2rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2.4rem;

  box-shadow: 0px 125px 50px rgba(0, 0, 0, 0.01), 0px 70px 42px rgba(0, 0, 0, 0.05),
    0px 31px 31px rgba(0, 0, 0, 0.09), 0px 8px 17px rgba(0, 0, 0, 0.1),
    0px 0px 0px rgba(0, 0, 0, 0.1);

  //   box-shadow: ;

  .icon {
    font-weight: 500;
    font-size: 9.6rem;
    line-height: 13rem;
  }

  .text {
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
    align-self: center;
  }

  &:first-child {
    // grid-column:  1 / 1;
  }

  &:last-child {
    grid-column: 1 / -1;
  }

  @media screen and (max-width: 768px) {
    grid-column: 1/ -1;
  }

  p {
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1;

    color: #243b53;
  }
}
