.introduction {
    display: flex;
  flex-direction: column;
  grid-column: 1/-1;
  align-self: center;
}

.title {
font-family: 'General Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 1;

color: #0F609B;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 15rem;
}

.card {
    height: 8rem;
    grid: 1fr;

    p {
        font-family: 'General Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1;

        color: #243B53;
    }
}